<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeux-UE - Choisir un jeu</title>
    <link rel="stylesheet" href="{{ url_for('games.static', filename='index.css') }}">
</head>
<body>
    <div class="games">
        <button id="capitals" onclick="window.location.href = '{{ url_for('games.capitals')}}'">Capitales</button>
    </div>
</body>
</html>