<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Jeux-UE - {{ game_name }} - Choisissez un niveau</title>
    <link rel="stylesheet" href="{{ url_for('games.static', filename='level_choice.css')}}">
</head>

<body>
    {% set game = url_for(game) %}
    <div id="level-options" class="level-options">
        <div id="easy" class="level-options">
            <button class="level-options" onclick="rgl('{{ game }}', 2)">Facile</button>
        </div>
        <div id="normal" class="level-options">
            <button class="level-options" onclick="rgl('{{ game }}', 4)">Normal</button>
        </div>
        <div id="hard" class="level-options">
            <button class="level-options" onclick="rgl('{{ game }}', 0)">Difficile</button>
        </div>
    </div>
    <script src="{{ url_for('games.static', filename='level_choice.js')}}"></script>

</body>

</html>