/*
Blue:   #003399
Yellow: #FFCC00
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@450&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
}

html, body {
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
}

#level-options {
    width: 70vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, calc(-50% + 100px));
    transform: translate(-50%, calc(-50% - 50px));
}

button.level-options {
    width: 100%;
    font-size: 100px;
    border-radius: 50px;
    border: none;
    font-family: 'Fredoka', sans-serif;
    color: #e2e2e2;
}

#easy>button {
    background-color: #00c217;
}

#normal>button {
    background-color: #ff9500;
}

#hard>button {
    background-color: #941b00;
}

div>div.level-options:not(#hard) {
    margin-bottom: 100px;
}